<section data-ng-controller="HomeController">
	</br>
	<div>
		<h2>Application for managing variants.</h2>
		<p>Need to Sign In to do anything, click Sign Up, if this is the first time</p>
	</div>

    <a class="btn btn-info" href="/#!/signup">Sign Up</a>

    <a class="btn btn-default" href="/#!/signin">Sign In</a>

    </br>
    </br>
    <div data-ng-show="authentication.user" >
        Hello: {{authentication.user.displayname}}

        Add a VCF: FORM HERE!

        Export VCF: List SAMPLES!


    </div>

</section>